<div class="container mt-5">
  <h3 class="text-center text-primary mb-4">Registro de Especialista</h3>

  <form [formGroup]="especialistaForm" (ngSubmit)="register()">
    <div class="mb-3">
      <label class="form-label">Correo electrónico</label>
      <input type="email" class="form-control" formControlName="email">
    </div>

    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input type="text" class="form-control" formControlName="nombre">
    </div>

    <div class="mb-3">
      <label class="form-label">Apellido</label>
      <input type="text" class="form-control" formControlName="apellido">
    </div>

    <div class="mb-3">
      <label class="form-label">Contraseña</label>
      <input type="password" class="form-control" formControlName="password">
    </div>

<div class="mb-3">
  <label class="form-label">Especialidades</label>
  <div *ngFor="let esp of especialidadesDisponibles">
    <input 
      type="checkbox" 
      [value]="esp" 
      (change)="onEspecialidadChange($event)" 
      [checked]="especialistaForm.value.especialidades.includes(esp)">
    {{ esp }}
  </div>
</div>

<div class="mb-3">
  <label class="form-label">¿Querés agregar nuevas especialidades?</label>

  <div formArrayName="nuevasEspecialidades">
    <div *ngFor="let nueva of nuevasEspecialidadesForm.controls; let i = index" class="d-flex gap-2 mb-2 align-items-center">
      <input 
        type="text" 
        class="form-control" 
        [formControlName]="i" 
        placeholder="Ej: Pediatría">
      <button type="button" class="btn btn-danger btn-sm" (click)="eliminarNuevaEspecialidad(i)">
        Eliminar
      </button>
    </div>
  </div>

  <button type="button" class="btn btn-sm btn-secondary mt-1" (click)="agregarNuevaEspecialidad()">
    + Agregar otra especialidad
  </button>
</div>



  <div class="mb-3">
    <label class="form-label">Edad</label>
    <input type="number" class="form-control" formControlName="edad" min="0">
    <div *ngIf="especialistaForm.get('edad')?.invalid && especialistaForm.get('edad')?.touched" class="text-danger">
      Ingresá una edad válida (entre 18 y 99).
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">DNI</label>
    <input type="text" class="form-control" formControlName="dni">
    <div *ngIf="especialistaForm.get('dni')?.invalid && especialistaForm.get('dni')?.touched" class="text-danger">
      Ingresá un DNI válido (solo números).
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Foto</label>
    <input type="file" class="form-control" (change)="onFileChange($event)">
    <div *ngIf="fotoInvalida" class="text-danger">
      Seleccioná una imagen.
    </div>
  </div>

  <div id="captcha-element" class="mb-3"></div>

    <button type="submit" class="btn btn-primary w-100" [disabled]="especialistaForm.invalid">
      Registrarme
    </button>
  </form>
</div>
