<div class="container mt-5">
  <h2 class="text-center mb-4 text-primary">¿Cómo desea registrarse?</h2>

  <div class="row justify-content-center">
    <!-- Especialista -->
    <div class="col-md-5 mb-4 text-center">
      <a [routerLink]="['/registro/especialista']">
        <img src="../../../assets/img/doctor.png" class="rounded-circle img-bordered mb-3" alt="Especialista">
      </a>
      <h5>Especialista</h5>
    </div>

    <!-- Paciente -->
    <div class="col-md-5 mb-4 text-center">
      <a [routerLink]="['/registro/paciente']">
        <img src="../../../assets/img/persona.png" class="rounded-circle img-bordered mb-3" alt="Paciente">
      </a>
      <h5>Paciente</h5>
    </div>
  </div>
</div>


