<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <h3 class="card-title text-center text-primary mb-4">Iniciar Sesión</h3>

          <form (ngSubmit)="login()">
            <!-- Email -->
            <div class="mb-3">
              <label for="email" class="form-label">Correo electrónico</label>
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" placeholder="ejemplo@correo.com" required>
            </div>

            <!-- Contraseña -->
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" placeholder="••••••••" required>
            </div>

            <!-- Botón de login -->
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Ingresar</button>
            </div>
          </form>

          <div class="text-center mt-3">
            <small>¿No tenés cuenta? <a [routerLink]="'/registro'">Registrate</a></small>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center flex-wrap gap-3 mt-4 text-center">
  <div>
    <img src="assets/login/admin.png" alt="Admin" width="60" height="60"
         class="rounded-circle shadow cursor-pointer"
         (click)="setCredentials('mowiw81527@cristout.com', 'hola123')">
    <div>Admin</div>
  </div>

  <div>
    <img src="assets/login/especialista.png" alt="Especialista 1" width="60" height="60"
         class="rounded-circle shadow cursor-pointer"
         (click)="setCredentials('matuk79@gmail.com', 'hola123')">
    <div>E 1</div>
  </div>

  <div>
    <img src="assets/login/especialista1.png" alt="Especialista 2" width="60" height="60"
         class="rounded-circle shadow cursor-pointer"
         (click)="setCredentials('woxet96650@calorpg.com', '123456')">
    <div>E 2</div>
  </div>

  <div>
    <img src="assets/login/paciente1.jpg" alt="Paciente 1" width="60" height="60"
         class="rounded-circle shadow cursor-pointer"
         (click)="setCredentials('nigoc42181@boxmach.com', 'dsadsa')">
    <div>P 1</div>
  </div>

  <div>
    <img src="assets/login/paciente2.png" alt="Paciente 2" width="60" height="60"
         class="rounded-circle shadow cursor-pointer"
         (click)="setCredentials('pac2@correo.com', '123456')">
    <div>P 2</div>
  </div>

  <div>
    <img src="assets/login/paciente3.png" alt="Paciente 3" width="60" height="60"
         class="rounded-circle shadow cursor-pointer"
         (click)="setCredentials('pac3@correo.com', '123456')">
    <div>P 3</div>
  </div>
</div>


    </div>
  </div>
</div>

<app-loading *ngIf="loadingService.loading$ | async"></app-loading>
